.choose-patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.choose-patient__title {
  margin: 1rem 0;
  font-size: 1.8rem;
}

.choose-patient__patients {
  display: flex;
  justify-content: space-between;
}

.choose-patient__text {
  padding-left: 1rem;
  align-self: flex-start;
  font-size: 0.9rem;
  font-weight: 700;
  color: #2a477d;
}

.choose-patient__info {
  font-size: 0.6rem;
  font-weight: 500;
  color: #068ca6;
}

@media (max-width: 1264px) {
  .choose-patient__patients {
    flex-direction: column;
  }
}
